<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="extendedElementTypeActionProvider" name="Extended Element Type Action Provider" schema="schema/extendedElementTypeActionProvider.exsd"/>
   
    <extension
         point="org.eclipse.papyrus.infra.extendedtypes.aspectActionConfiguration">
      <aspectAction
            configurationClass="org.eclipse.papyrus.infra.extendedtypes.emf.runtimevalueseditionactionconfiguration.RuntimeValuesEditionActionConfiguration"
            configurationModelCreation="org.eclipse.papyrus.infra.extendedtypes.internal.ui.advice.RuntimeValuesEditionActionConfigurationModelCreation"
            creationElementValidator="org.eclipse.papyrus.infra.extendedtypes.internal.ui.advice.RuntimeValuesEditionActionCreationElementValidator"
            editHelperAdvice="org.eclipse.papyrus.infra.extendedtypes.internal.ui.advice.RuntimeValuesEditionActionEditHelperAdvice">
      </aspectAction>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
	    allPopups="false"
	    locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		<command
	       commandId="org.eclipse.papyrus.infra.extendedtypes.deploy"
	       icon="icons/configuration.gif"
	       style="push">
		    <visibleWhen
		          checkEnabled="false">
		       <with
		             variable="selection">
		          <iterate
		                ifEmpty="false"
		                operator="and">
		             <adapt
		                   type="org.eclipse.core.resources.IFile">
		                <or>
		                   <test
		                         property="org.eclipse.core.resources.extension"
		                         value="extendedtypes">
		                   </test>
		                </or>
		             </adapt>
		          </iterate>
		       </with>
		    </visibleWhen>
		</command>
		 <command
		       commandId="org.eclipse.papyrus.infra.extendedtypes.undeploy"
		       icon="icons/configuration.gif"
		       style="push">
		    <visibleWhen
		          checkEnabled="false">
		       <with
		             variable="selection">
		          <iterate
		                ifEmpty="false"
		                operator="and">
		             <adapt
		                   type="org.eclipse.core.resources.IFile">
		                <or>
		                   <test
		                         property="org.eclipse.core.resources.extension"
		                         value="extendedtypes">
		                   </test>
		                </or>
		             </adapt>
		          </iterate>
		       </with>
		    </visibleWhen>
		 </command>
	</menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.infra.extendedtypes.internal.ui.handlers.DeployExtendedTypeSetConfigurationHandler"
            id="org.eclipse.papyrus.infra.extendedtypes.deploy"
            name="Deploy Extended Types Set configuration">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.infra.extendedtypes.internal.ui.handlers.UndeployExtendedTypeSetConfigurationHandler"
            id="org.eclipse.papyrus.infra.extendedtypes.undeploy"
            name="Disable Extended Types Set configuration">
      </command>
   </extension>
	
   <extension
         point="org.eclipse.papyrus.infra.extendedtypes.userExtendedTypes">
      <provider
            class="org.eclipse.papyrus.infra.extendedtypes.internal.ui.UserExtendedTypesProvider">
      </provider>
   </extension>
</plugin>
