<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
         <unit
               name="StringOperations"
               namespace="xpt">
            <library
                  class="org.eclipse.papyrus.gmf.internal.xpand.qvtlibraries.XpandStringOperations"
                  name="StringOperations">
               <metamodel
                     nsURI="http://www.eclipse.org/emf/2002/Ecore">
               </metamodel>
            </library>
         </unit>
         <unit
               name="OclAnyOperations"
               namespace="xpt">
            <library
                  class="org.eclipse.papyrus.gmf.internal.xpand.qvtlibraries.XpandOclAnyOperations"
                  name="OclAnyOperations">
               <metamodel
                     nsURI="http://www.eclipse.org/emf/2002/Ecore">
               </metamodel>
            </library>
         </unit>
         <unit
               name="IntegerOperations"
               namespace="xpt">
            <library
                  class="org.eclipse.papyrus.gmf.internal.xpand.qvtlibraries.XpandIntegerOperations"
                  name="IntegerOperations">
               <metamodel
                     nsURI="http://www.eclipse.org/emf/2002/Ecore">
               </metamodel>
            </library>
         </unit>
         <unit
               name="GlobalVarOperations"
               namespace="xpt">
            <library
                  class="org.eclipse.papyrus.gmf.internal.xpand.qvtlibraries.XpandGlobalVars"
                  name="GlobalVarOperations">
               <metamodel
                     nsURI="http://www.eclipse.org/emf/2002/Ecore">
               </metamodel>
            </library>
         </unit>
   </extension>
</plugin>
