<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2015 Christian W. Damus and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors:
   Christian W. Damus - Initial API and implementation
   
-->
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.dev.tests.framework.internal.ui.ToggleNatureHandler"
            commandId="org.eclipse.papyrus.dev.tests.framework.ui.addNature">
         <enabledWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
               </iterate>
               <not>
                  <reference
                        definitionId="org.eclipse.papyrus.dev.tests.framework.hasNature">
                  </reference>
               </not>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.dev.tests.framework.internal.ui.ToggleNatureHandler"
            commandId="org.eclipse.papyrus.dev.tests.framework.ui.removeNature">
         <enabledWhen>
            <reference
                  definitionId="org.eclipse.papyrus.dev.tests.framework.hasNature">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Configures the project to generate diagram tests"
            id="org.eclipse.papyrus.dev.tests.framework.ui.addNature"
            name="Add Papyrus Diagram Tests Nature">
      </command>
      <command
            description="Removes the generation of diagram tests from the project"
            id="org.eclipse.papyrus.dev.tests.framework.ui.removeNature"
            name="Remove Papyrus Diagram Tests Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.eclipse.papyrus.dev.tests.framework.ui.addNature"
               label="Add Papyrus Diagram Tests Nature"
               style="push"
               tooltip="Adds the Papyrus Diagram Tests generation builder">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.dev.tests.framework.ui.removeNature"
               label="Remove Papyrus Diagram Tests Nature"
               style="push"
               tooltip="Removes the Papyrus Diagram Tests generation builder">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
