<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://B2MML_PROF/"
            target="platform:/plugin/org.eclipse.papyrus.manufacturing.b2mml/model/mockup/">
      </mapping>
      <!--
      <mapping
            source="pathmap://B2MML_PROF/"
            target="platform:/plugin/org.eclipse.papyrus.manufacturing.b2mml/model/">
      </mapping>
      -->
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="Business to Manufacturing Markup Language (B2MML) Profile"
            path="pathmap://B2MML_PROF/B2mmlProcessSegment.profile.uml"
            provider="CEA List"
             description="UML profile for B2MML">
      </profile>
   </extension>
       <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://B2MML_PROF/B2mmlProcessSegment.profile.uml#_-4BeoFJVEeWYd7vE_Ti-XA"
            uri="pathmap://B2MML_PROF/B2mmlProcessSegment.profile.uml">
            <!--
      <profile
            location="pathmap://B2MML_PROF/B2MML-profile.uml#_ESB9YHivEeWliqHz-S4C7A"
            uri="pathmap://B2MML_PROF/B2MML-profile.uml">      
            -->
      </profile>
   </extension>
      <!-- @generated B2MML-profile -->
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///b2mml.ecore"
            class="org.eclipse.papyrus.manufacturing.b2mml.xsd.profile.b2mml.B2mmlPackage"
            genModel="model/B2MML-profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated B2MML-profile -->
      <package
            uri="http://www.eclipse.org/uml2/4.2.0/XMLPrimitiveTypes"
            class="org.eclipse.papyrus.manufacturing.b2mml.xsd.profile.XMLPrimitiveTypes.XMLPrimitiveTypesPackage"
            genModel="model/B2MML-profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated B2mmlProcessSegment.profile -->
      <package
            uri="http://papyrus/B2MML"
            class="org.eclipse.papyrus.manufacturing.b2mml.profile.B2MML_ProcessSegment.B2mmlProcessSegmentPackage"
            genModel="model/mockup/B2mmlProcessSegment.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated B2mmlProcessSegment.profile -->
      <package
            uri="http:///B2MML_ProcessSegment/ProductionSchedule.ecore"
            class="org.eclipse.papyrus.manufacturing.b2mml.profile.B2MML_ProcessSegment.ProductionSchedule.ProductionSchedulePackage"
            genModel="model/mockup/B2mmlProcessSegment.profile.genmodel"/>
   </extension>
</plugin>
