[name="Chassis"],[name="chassis"]{
	svgFile : 'images/chassis.svg'
}

[name="Trunk"],[name="trunk"]{
	svgFile : 'images/trunk.svg'
}

[name="Engine"],[name="engine"]{
	svgFile : 'images/engine.svg'
}

[name="Windscreen"],[name="windscreen"]{
	svgFile : 'images/windscreen.svg'
}

[name="RightFrontDoor"],[name="rightFrontDoor"]{
	svgFile : 'images/RightDoor.svg'
}

[name="LeftFrontDoor"],[name="leftFrontDoor"]{
	svgFile : 'images/LeftDoor.svg'
}

[name="Roof"],[name="roof"]{
	svgFile : 'images/Roof.svg';
}

[name="RightBackDoor"],[name="rightBackDoor"]{
	svgFile : 'images/RightDoor.svg';
	svgCssFile: 'images/OptionalDoor.css'
}

[name="LeftBackDoor"],[name="leftBackDoor"]{
	svgFile : 'images/LeftDoor.svg';
	svgCssFile: 'images/OptionalDoor.css'
}

Property > Label:name{
	visible:false;
	topMarginLabel: 100;
}

* {
	elementIcon:false }
	
* > Compartment[kind="symbol"] {
    visible:false;
}
	
Connector{
	routing:Rectilinear;
}