<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.papyrus.plugin.builder"
         name="Papyrus Plugin Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="false">
         <run
               class="org.eclipse.papyrus.toolsmiths.plugin.builder.PapyrusPluginBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.eclipse.papyrus.plugin.nature"
         name="Papyrus Plugin - Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.papyrus.toolsmiths.plugin.builder.nature.PapyrusPluginNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.papyrus.plugin.builder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.toolsmiths.plugin.builder.nature.AddPapyrusPluginNatureHandler"
            id="org.eclipse.papyrus.toolsmiths.plugin.builder.addPapyrusNatureCommand"
            name="Convert To Papyrus Plugin Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="org.eclipse.papyrus.toolsmiths.plugin.builder.addPapyrusNatureCommand"
               icon="icons/papyrus.png"
               label="Convert To Papyrus Plugin"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <not>
                  <reference
                        definitionId="org.eclipse.papyrus.toolsmiths.plugin.builder.hasPapyrusPluginNature">
                  </reference>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.papyrus.toolsmiths.plugin.builder.hasPapyrusPluginNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.eclipse.papyrus.plugin.nature">
            </test>
         </adapt>
      </definition>
   </extension>
      <extension
            point="org.eclipse.ui.ide.markerResolution">
         <markerResolutionGenerator
               class="org.eclipse.papyrus.toolsmiths.plugin.builder.quickfix.MissingDependenciesMarkerResolutionGenerator"
               markerType="org.eclipse.papyrus.toolsmiths.validation.profile.diagnostic">
         </markerResolutionGenerator>
         <markerResolutionGenerator
               class="org.eclipse.papyrus.toolsmiths.plugin.builder.quickfix.ManifestResolutionGenerator"
               markerType="org.eclipse.jdt.core.problem">
         </markerResolutionGenerator>
         <markerResolutionGenerator
               class="org.eclipse.papyrus.toolsmiths.plugin.builder.quickfix.StaticProfileMarkerResolutionGenerator"
               markerType="org.eclipse.papyrus.toolsmiths.validation.profile.diagnostic">
         </markerResolutionGenerator>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               class="org.eclipse.papyrus.toolsmiths.plugin.builder.preferences.PluginBuilderPreferencePage"
               id="org.eclipse.papyrus.toolsmiths.plugin.builder.BuilderPreferencePage"
               name="Papyrus Plugin Builder">
         </page>
      </extension>
      <extension
            point="org.eclipse.core.runtime.preferences">
         <initializer
               class="org.eclipse.papyrus.toolsmiths.plugin.builder.preferences.PluginBuilderPreferencesInitializer">
         </initializer>
      </extension>
</plugin>
