<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 Copyright (c) 2014, 2016 CEA LIST, Christian W. Damus, and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors:
   CEA LIST - Initial API and implementation
   Christian W. Damus - bug 485220
-->
<plugin>
	<extension-point id="elementTypeSetConfiguration" name="ElementType Set Configuration" schema="schema/elementTypeSetConfiguration.exsd"/>
	<extension-point id="elementTypeConfigurationType" name="ElementType Configuration Type" schema="schema/elementTypeConfigurationType.exsd"/>
	<extension-point id="adviceConfigurationType" name="Advice Configuration Type" schema="schema/adviceConfigurationType.exsd"/>
	<extension-point id="containerConfigurationType" name="Container Configuration Type" schema="schema/containerConfigurationType.exsd"/>
	<extension-point id="matcherConfigurationType" name="Matcher Configuration Type" schema="schema/matcherConfigurationType.exsd"/>
	<extension-point id="userDefinitions" name="User Element Type Definitions" schema="schema/userDefinitions.exsd"/>
   
   <extension
         point="org.eclipse.papyrus.infra.core.service">
      <service
            classname="org.eclipse.papyrus.infra.elementtypesconfigurations.ElementTypesConfigurationsRegistryService"
            description="Service used to registrer elementTypes in the GMF elementTypes registry"
            id="ElementTypesConfigurationsRegistryService"
            priority="50"
            startKind="startup">
      </service>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ElementTypesConfigurations -->
      <package
            uri="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/1.0"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.ElementtypesconfigurationsPackage"
            genModel="model/ElementTypesConfigurations.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated ElementTypesConfigurations -->
      <parser
            contentTypeIdentifier="org.eclipse.papyrus.infra.elementtypesconfigurations"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.util.ElementtypesconfigurationsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated ElementTypesConfigurations -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="elementtypesconfigurations"
            id="org.eclipse.papyrus.infra.elementtypesconfigurations"
            name="%_UI_Elementtypesconfigurations_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/papyrus/infra/elementtypesconfigurations/1.0"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>


   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="elementtypesconfigurations"
            class="org.eclipse.papyrus.infra.elementtypesconfigurations.resource.CustomElementtypesconfigurationsResourceFactoryImpl"/>
   </extension>

</plugin>
