<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=filtersMenu">
         <menu
               icon="images/Papyrus_Req_logo_16x16.bmp"
               id="org.eclipse.papyrus.req.sysml.menu"
               label="%menu.label"
               tooltip="%menu.tooltip">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <menu
               icon="images/Papyrus_Req_logo_16x16.bmp"
               id="org.eclipse.papyrus.req.sysml.menu"
               label="%menu.label.0"
               tooltip="%menu.tooltip.0">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.req.sysml.menu">
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.PapyrusReqSysMLRequirementHandler"
               label="%command.label"
               style="push"
               tooltip="%command.tooltip">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.AddDerivedLinkReqHandler"
               label="%command.label.0"
               style="push"
               tooltip="%command.tooltip.0">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.InitDerivedReqHandler"
               label="%command.label.1"
               style="push"
               tooltip="%command.tooltip.1">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.CommentReqHandler"
               label="%command.label.2"
               style="push"
               tooltip="%command.tooltip.2">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.req.sysml.assistant.handler.ExtractCommentsHandler"
               label="%command.label.3"
               style="push"
               tooltip="%command.tooltip.3">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.ExtractCommentsHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.ExtractCommentsHandler"
            name="%command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.InitDerivedReqHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.InitDerivedReqHandler"
            name="%command.name.0">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.CommentReqHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.CommentReqHandler"
            name="%command.name.1">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.PapyrusReqSysMLRequirementHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.PapyrusReqSysMLRequirementHandler"
            name="%command.name.2">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.req.sysml.assistant.handler.AddDerivedLinkReqHandler"
            id="org.eclipse.papyrus.req.sysml.assistant.handler.AddDerivedLinkReqHandler"
            name="%command.name.3">
      </command>
   </extension>

</plugin>

