/InitDiagramFileAction.java
/CreationWizard.java
/DiagramEditorUtil.java
/ResourceSetInfo.java
/ActionBarContributor.java
/DeleteElementAction.java
/DiagramEditorContextMenuProvider.java
/DocumentProvider.java
/Editor.java
/NewDiagramFileWizard.java
/ResourceSetModificationListener.java
/ValidateAction.java
/VisualIDRegistry.java
/extensions.java
