<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="TreeOutlinePage">
         <propertySection
               class="org.eclipse.papyrus.uml.alf.properties.xtext.sheet.AdvancedEditingPropertySection"
               filter="org.eclipse.papyrus.uml.alf.properties.xtext.sheet.AdvancedEditingPropertySectionFilter"
               id="alf.property.section.AdvancedEditingPropertySection"
               tab="alf_editing">
            <input
                  type="org.eclipse.gmf.runtime.notation.View">
            </input>
            <input
                  type="org.eclipse.gef.EditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="TreeOutlinePage">
         <propertyTab
               afterTab="uml"
               category="org.eclipse.papyrus"
               id="alf_editing"
               indented="true"
               label="ALF">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
          point="org.eclipse.papyrus.extensionpoints.editors.DirectEditor">
       <DirectEditor
             language="Alf"
             objectToEdit="org.eclipse.uml2.uml.Class">
          <popupeditor
                editorConfiguration="org.eclipse.papyrus.uml.alf.properties.xtext.configuration.DefaultAlfXtextEditorConfiguration">
          </popupeditor>
          <Priority
                name="Highest">
          </Priority>
       </DirectEditor>
       <DirectEditor
             language="Alf"
             objectToEdit="org.eclipse.uml2.uml.Enumeration">
          <popupeditor
                editorConfiguration="org.eclipse.papyrus.uml.alf.properties.xtext.configuration.DefaultAlfXtextEditorConfiguration">
          </popupeditor>
          <Priority
                name="Highest">
          </Priority>
       </DirectEditor>
       <DirectEditor
             language="Alf"
             objectToEdit="org.eclipse.uml2.uml.Signal">
          <popupeditor
                editorConfiguration="org.eclipse.papyrus.uml.alf.properties.xtext.configuration.DefaultAlfXtextEditorConfiguration">
          </popupeditor>
          <Priority
                name="Highest">
          </Priority>
       </DirectEditor>
       <DirectEditor
             language="Alf"
             objectToEdit="org.eclipse.uml2.uml.DataType">
          <popupeditor
                editorConfiguration="org.eclipse.papyrus.uml.alf.properties.xtext.configuration.DefaultAlfXtextEditorConfiguration">
          </popupeditor>
          <Priority
                name="Highest">
          </Priority>
       </DirectEditor>
       <DirectEditor
             language="Alf"
             objectToEdit="org.eclipse.uml2.uml.Package">
          <popupeditor
                editorConfiguration="org.eclipse.papyrus.uml.alf.properties.xtext.configuration.DefaultAlfXtextEditorConfiguration">
          </popupeditor>
          <Priority
                name="Highest">
          </Priority>
       </DirectEditor>
       <DirectEditor
             language="Alf"
             objectToEdit="org.eclipse.uml2.uml.Association">
          <popupeditor
                editorConfiguration="org.eclipse.papyrus.uml.alf.properties.xtext.configuration.DefaultAlfXtextEditorConfiguration">
          </popupeditor>
          <Priority
                name="Highest">
          </Priority>
       </DirectEditor>
    </extension> 
</plugin>
