<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://BMM_PROFILE/"
            target="platform:/plugin/org.eclipse.papyrus.req.bmm.profile/model/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Profile of the Business Motivation Model (BMM) Version 1.3"
            iconpath="icons/bmm_16x16.png"
            name="BmmProfile"
            path="pathmap://BMM_PROFILE/Bmm.profile.uml"
            provider="CEA LIST">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.dynamic_package">
      <profile
            location="pathmap://BMM_PROFILE/Bmm.profile.uml"
            uri="https://www.eclipse.org/papyrus/req/0.7.0/BMM/">
      </profile>
   </extension>
</plugin>
