/TextSelectionEditPolicy.java
/BaseItemSemanticEditPolicy.java
/CompartmentItemSemanticEditPolicy.java
/DiagramItemSemanticEditPolicy.java
/LinkItemSemanticEditPolicy.java
/NodeItemSemanticEditPolicy.java
/OpenDiagram.java
/TextNonResizableEditPolicy.java
/Utils_qvto.java
/childContainerCreateCommand.java
/linkCommands.java
