<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Papyrus RCP" sequenceNumber="1568821680">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.richtext.feature.feature.group" version="1.2.0.201703081533"/>
      <unit id="org.eclipse.nebula.cwt.feature.feature.group" version="1.0.0.201703081533"/>
      <repository id="nebula" location="http://download.eclipse.org/nebula/releases/1.2.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.5.0.201703192131"/>
      <unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="1.5.0.201703192131"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="1.5.0.201703192131"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="1.5.0.201703192131"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.feature.feature.group" version="1.1.0.201703192131"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.source.feature.feature.group" version="1.1.0.201703192131"/>
      <repository id="nattable" location="http://download.eclipse.org/nattable/releases/1.5.0/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
      <unit id="com.google.guava.source" version="27.1.0.v20190517-1946"/>
      <unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
      <unit id="com.google.gson.source" version="2.7.0.v20170129-0911"/>
      <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
      <unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
      <unit id="org.objectweb.asm" version="5.0.1.v201404251740"/>
      <unit id="org.objectweb.asm.source" version="5.0.1.v201404251740"/>
      <repository id="orbit" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20190602212107/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xwt.feature.feature.group" version="0.0.0"/>
      <repository id="xwt" location="https://download.eclipse.org/xwt/milestones-1.4.0/1.4.0-RC2/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.10.0.v20190909-1952"/>
      <repository id="qvto" location="https://download.eclipse.org/mmt/qvto/updates/releases/3.10.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xpand.sdk.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend.feature.group" version="2.2.0.v201605260315"/>
      <repository id="xpand" location="https://download.eclipse.org/modeling/m2t/xpand/updates/releases/R201605260315/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.0.v20181203-1331"/>
      <repository id="uml" location="https://download.eclipse.org/modeling/mdt/uml2/updates/5.5"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.examples.classic.feature.group" version="5.10.0.v20190910-0937"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="6.9.0.v20190910-0937"/>
      <repository id="ocl" location="https://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.9.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.19.0.v20190902-1322"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.19.0.v20190902-1322"/>
      <unit id="org.eclipse.xtext.redist.feature.group" version="2.19.0.v20190902-1322"/>
      <unit id="org.eclipse.xtext.runtime.feature.group" version="2.19.0.v20190902-1322"/>
      <unit id="org.eclipse.xtext.ui.feature.group" version="2.19.0.v20190902-1322"/>
      <repository id="xtext" location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.19.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.11.0.201906111547"/>
      <repository id="mwe" location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.11.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
      <repository id="webtools" location="http://download.eclipse.org/webtools/downloads/drops/R3.15.0/S-3.15.0.RC1-20190830034720/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.12.1.201905141505"/>
      <repository id="gmfRuntime" location="https://download.eclipse.org/modeling/gmp/gmf-runtime/updates/milestones/S201905141505"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.12.0.201805221301"/>
      <repository id="gmfNotation" location="https://download.eclipse.org/modeling/gmp/gmf-notation/updates/releases/R201805221301"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.query.sdk.feature.group" version="1.12.0.201805030653"/>
      <repository id="emfQuery" location="https://download.eclipse.org/modeling/emf/query/updates/releases/R201805030653"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.12.1.201812070911"/>
      <repository id="emfValidation" location="https://download.eclipse.org/modeling/emf/validation/updates/releases/R201812070911"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.12.0.201805140824"/>
      <repository id="emfTransaction" location="https://download.eclipse.org/modeling/emf/transaction/updates/releases/R201805140824/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gef.feature.group" version="3.11.0.201606061308"/>
      <repository id="gef" location="https://download.eclipse.org/tools/gef/updates/legacy/releases/4.0.0_gef-master_1952"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group" version="5.5.0.201909110433-r"/>
      <repository id="egit" location="https://download.eclipse.org/egit/updates-5.5"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.13.0.v20190710-1453"/>
      <unit id="org.eclipse.rcp.configuration.feature.group" version="1.1.600.v20190916-1045"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.500.v20190907-0428"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.13.0.v20190916-1323"/>
      <repository id="platform" location="https://download.eclipse.org/eclipse/updates/4.13/R-4.13-201909161045/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.24.2.v20180905-0014"/>
      <unit id="org.eclipse.mylyn.java_feature.feature.group" version="3.24.2.v20180905-0014"/>
      <unit id="org.eclipse.mylyn.pde_feature.feature.group" version="3.24.2.v20180905-0014"/>
      <unit id="org.eclipse.mylyn.bugzilla_feature.feature.group" version="3.24.2.v20180905-0003"/>
      <unit id="org.eclipse.mylyn.context_feature.feature.group" version="3.24.2.v20180905-0014"/>
      <unit id="org.eclipse.mylyn_feature.feature.group" version="3.24.2.v20180905-0003"/>
      <repository id="mylyn" location="https://download.eclipse.org/mylyn/drops/3.24.2/v20180905-2014"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.source.feature.group" version="3.3.8.201909101346"/>
      <unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.3.8.201909101346"/>
      <repository id="emfCompare" location="https://download.eclipse.org/modeling/emf/compare/updates/milestones/3.3/S201909101346"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xsd.sdk.feature.group" version="2.19.0.v20190625-1132"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.19.0.v20190824-1315"/>
      <repository id="emf" location="http://download.eclipse.org/modeling/emf/emf/builds/release/2.19"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.cdo.epp.feature.group" version="4.7.0.v20180530-1201"/>
      <repository id="cdo" location="https://download.eclipse.org/modeling/emf/cdo/drops/R20180613-0111"/>
    </location>
  </locations>
</target>
