<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Papyrus RCP" sequenceNumber="1500295965">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.6.0.v20160606-1156"/>
      <repository id="qvto" location="http://download.eclipse.org/mmt/qvto/updates/releases/3.6.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.11.0.201706061339"/>
      <repository id="emfTransaction" location="http://download.eclipse.org/modeling/emf/transaction/updates/releases"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xpand.sdk.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend.feature.group" version="2.2.0.v201605260315"/>
      <repository id="xpand" location="http://download.eclipse.org/modeling/m2t/xpand/updates/releases/R201605260315/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.tablecombo.feature.feature.group" version="1.0.0.201609231530"/>
      <unit id="org.eclipse.nebula.widgets.richtext.feature.feature.group" version="1.0.0.201609231530"/>
      <repository id="nebula" location="http://download.eclipse.org/nebula/releases/1.1.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.2.4.v20170530-1052"/>
      <repository id="uml" location="http://download.eclipse.org/modeling/mdt/uml2/updates/5.2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.11.0.201706061437"/>
      <repository id="gmfRuntime" location="http://download.eclipse.org/modeling/gmp/gmf-runtime/updates/releases"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.examples.classic.feature.group" version="5.2.1.v20160808-1416"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="6.1.2.v20161111-1812"/>
      <repository id="ocl" location="http://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.1.2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xwt.feature.feature.group" version="1.2.0.v20160502-1019"/>
      <repository id="xwt" location="http://download.eclipse.org/xwt/release-1.2.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.10.0.v201605250459"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.10.0.v201605250459"/>
      <unit id="org.eclipse.xtext.redist.feature.group" version="2.10.0.v201605250459"/>
      <repository id="xtext" location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.10.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.4.0.201606011907"/>
      <unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="1.4.0.201606011907"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="1.4.0.201606011907"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="1.4.0.201606011907"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.feature.feature.group" version="1.0.0.201606011907"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.source.feature.feature.group" version="1.0.0.201606011907"/>
      <repository id="nattable" location="http://download.eclipse.org/nattable/releases/1.4.0/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.9.0.v201605261103"/>
      <repository id="mwe" location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.9.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.query.sdk.feature.group" version="1.11.0.201706061326"/>
      <repository id="emfQuery" location="http://download.eclipse.org/modeling/emf/query/updates/releases"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.wst.xml_sdk.feature.feature.group" version="3.8.2.v201702270442"/>
      <unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.8.2.v201702270442"/>
      <repository id="webtools" location="http://download.eclipse.org/webtools/downloads/drops/R3.8.2/R-3.8.2-20170308000057/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.11.0.201706061352"/>
      <repository id="emfValidation" location="http://download.eclipse.org/modeling/emf/validation/updates/releases"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.team.svn.feature.group" version="4.0.5.I20170425-1700"/>
      <repository id="subversive" location="http://download.eclipse.org/technology/subversive/4.0/neon-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.11.0.201706061354"/>
      <repository id="gmfNotation" location="http://download.eclipse.org/modeling/gmp/gmf-notation/updates/releases"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.tooling.feature.group" version="3.3.1.201509291144"/>
      <unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="3.3.1.201509291144"/>
      <unit id="org.eclipse.gmf.tooling.codegen.xtend2.feature.group" version="3.3.1.201509291144"/>
      <repository id="gmfTooling" location="http://download.eclipse.org/modeling/gmp/gmf-tooling/updates/releases-3.3.1a"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.batik.dom" version="0.0.0"/>
      <unit id="org.apache.batik.dom.svg" version="0.0.0"/>
      <unit id="org.apache.batik.extension" version="0.0.0"/>
      <unit id="org.apache.batik.svggen" version="0.0.0"/>
      <unit id="org.apache.batik.swing" version="0.0.0"/>
      <unit id="org.apache.batik.transcoder" version="0.0.0"/>
      <unit id="org.apache.batik.util" version="0.0.0"/>
      <unit id="org.apache.batik.xml" version="0.0.0"/>
      <unit id="org.w3c.dom.svg" version="0.0.0"/>
      <repository id="orbit" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.runtime.source.feature.group" version="3.6.6.201610060831"/>
      <unit id="org.eclipse.acceleo.source.feature.group" version="3.6.6.201610060831"/>
      <unit id="org.eclipse.acceleo.query.source.feature.group" version="5.0.2.201610060831"/>
      <unit id="org.eclipse.acceleo.sdk.feature.group" version="3.6.6.201610060831"/>
      <repository id="acceleo" location="http://download.eclipse.org/acceleo/updates/releases/3.6/R201610060831"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.upr.utp.feature.feature.group" version="0.9.0.20141027-1408-incubation"/>
      <repository id="upr" location="http://download.eclipse.org/upr/0.9RC1/update/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.rmf.reqif10.sdk.feature.feature.group" version="0.13.0.201509161042"/>
      <unit id="org.eclipse.rmf.reqif10.pror.sdk.feature.feature.group" version="0.13.0.201509161042"/>
      <repository id="rmf" location="http://download.eclipse.org/rmf/updates/releases/0.13.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="1.5.1.201601141612"/>
      <repository id="eef" location="http://download.eclipse.org/modeling/emft/eef/updates/releases/1.5/R201601141612/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.zest.layouts" version="1.1.300.201606061308"/>
      <unit id="org.eclipse.gef.feature.group" version="3.11.0.201606061308"/>
      <repository id="gef" location="http://download.eclipse.org/tools/gef/updates/legacy/releases/4.0.0_gef-master_1952"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.elk.feature.feature.group" version="0.1.0.201607121925"/>
      <unit id="org.eclipse.elk.ui.feature.feature.group" version="0.1.0.201607121925"/>
      <unit id="org.eclipse.elk.gmf.feature.feature.group" version="0.1.0.201607121925"/>
      <repository id="elk" location="http://download.eclipse.org/elk/updates/releases/0.1.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository id="graphiti" location="http://download.eclipse.org/graphiti/updates/maintenance/S-0.13.2Neon.2RC3-201611290820/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository id="sphinx" location="http://download.eclipse.org/sphinx/updates/0.10.x"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group" version="4.6.1.201703071140-r"/>
      <repository id="egit" location="http://download.eclipse.org/egit/updates-4.6.1"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.5.100.v20170131-1452"/>
      <unit id="org.eclipse.rcp.configuration.feature.group" version="1.0.200.v20170301-0400"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.6.300.v20161122-1740"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.6.3.v20170301-0400"/>
      <repository id="platform" location="http://download.eclipse.org/eclipse/updates/4.6/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.21.0.v20160912-1820"/>
      <unit id="org.eclipse.mylyn.java_feature.feature.group" version="3.21.0.v20160701-1337"/>
      <unit id="org.eclipse.mylyn.pde_feature.feature.group" version="3.21.0.v20160701-1337"/>
      <unit id="org.eclipse.mylyn.bugzilla_feature.feature.group" version="3.21.0.v20160909-1813"/>
      <unit id="org.eclipse.mylyn.context_feature.feature.group" version="3.21.0.v20160815-2336"/>
      <unit id="org.eclipse.mylyn_feature.feature.group" version="3.21.0.v20160914-0252"/>
      <unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="2.10.1.v20161129-1925"/>
      <repository id="mylyn" location="http://download.eclipse.org/mylyn/drops/3.21.1/v20161129-2023"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.2.1.201608311750"/>
      <unit id="org.eclipse.emf.compare.diagram.gmf.source.feature.group" version="3.2.1.201608311750"/>
      <unit id="org.eclipse.emf.compare.source.feature.group" version="3.2.1.201608311750"/>
      <unit id="org.eclipse.emf.compare.uml2.source.feature.group" version="3.2.1.201608311750"/>
      <repository id="emfCompare" location="http://download.eclipse.org/modeling/emf/compare/updates/milestones/3.2/S201608311750"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xsd.sdk.feature.group" version="2.12.0.v20160526-0356"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
      <repository id="emf" location="http://download.eclipse.org/modeling/emf/emf/updates/2.12/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.cdo.epp.feature.group" version="4.5.0.v20160607-1511"/>
      <unit id="org.eclipse.net4j.feature.group" version="4.5.0.v20160607-1254"/>
      <unit id="org.eclipse.emf.cdo.server.feature.group" version="4.5.0.v20160607-1254"/>
      <unit id="org.eclipse.emf.cdo.dawn.feature.group" version="2.1.300.v20160301-1326"/>
      <unit id="org.eclipse.emf.cdo.feature.group" version="4.5.0.v20160607-1254"/>
      <unit id="org.eclipse.emf.cdo.server.db.feature.group" version="4.4.0.v20160607-1254"/>
      <repository id="cdo" location="http://download.eclipse.org/modeling/emf/cdo/drops/R20160607-1209"/>
    </location>
  </locations>
</target>
