<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.papyrus.infra.newchild" name="ElementCreationMenuModel" schema="schema/org.eclipse.papyrus.infra.newchild.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.papyrus.infra.newchild.deploy"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="creationmenumodel">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.newchild.undeploy"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="creationmenumodel">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="org.eclipse.papyrus.infra.newchild.handler.DeployCreationMenuModelHandler"
          id="org.eclipse.papyrus.infra.newchild.deploy"
          name="Deploy Creation Menu Model">
    </command>
    <command
          defaultHandler="org.eclipse.papyrus.infra.newchild.handler.UndeployCreationMenuModelHandler"
          id="org.eclipse.papyrus.infra.newchild.undeploy"
          name="Undeploy Creation Menu Model">
    </command>
 </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated elementCreationMenuModel -->
      <package
            uri="http://www.eclipse.org/papyrus/infra/newchild/elementcreationmenumodel"
            class="org.eclipse.papyrus.infra.newchild.elementcreationmenumodel.ElementCreationMenuModelPackage"
            genModel="resource/elementCreationMenuModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated elementCreationMenuModel -->
      <parser
            type="creationmenumodel"
            class="org.eclipse.papyrus.infra.newchild.elementcreationmenumodel.util.ElementCreationMenuModelResourceFactoryImpl"/>
   </extension>
   
   <!-- COMPATIBILITY -->
	<extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ElementCreationMenuModel"
            class="org.eclipse.papyrus.infra.newchild.elementcreationmenumodel.ElementCreationMenuModelPackage"
            genModel="resource/elementCreationMenuModel.genmodel"/>
   </extension>
</plugin>


