<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <template
            di_file="template/rami40.di"
            file="template/rami40.uml"
            id="org.eclipse.papyrus.manufacturing.rami40"
            language="uml"
            name="%template.name"
            notation_file="template/rami40.notation">
      </template>
   </extension>
   <!--
          <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://RAMI40_PROF/RAMI40.profile.uml#_G_3HYMXkEeWY7oQWr-IL2Q"
            uri="pathmap://RAMI40_PROF/RAMI40.profile.uml" >
            
      </profile>
   </extension>   
   -->
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="UML profile for RAMI 4.0"
            name="RAMI40"
            path="pathmap://RAMI40_PROF/RAMI40.profile.uml"
            provider="CEA List">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://RAMI40_PROF/"
            target="platform:/plugin/org.eclipse.papyrus.manufacturing/model/">
      </mapping>
   </extension>
   <!--
   <extension point="org.eclipse.emf.ecore.generated_package">
      <- @generated RAMI40.profile ->
      <package
            uri="http:///RAMI40/ValueStreamHierarchy.ecore"
            class="org.eclipse.papyrus.manufacturing.RAMI40.ValueStreamHierarchy.ValueStreamHierarchyPackage"
            genModel="model/RAMI40.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <- @generated RAMI40.profile ->
      <package
            uri="http:///RAMI40/InfrastructureHierarchy.ecore"
            class="org.eclipse.papyrus.manufacturing.RAMI40.InfrastructureHierarchy.InfrastructureHierarchyPackage"
            genModel="model/RAMI40.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <- @generated RAMI40.profile ->
      <package
            uri="http:///RAMI40/LifeCycleHierarchy.ecore"
            class="org.eclipse.papyrus.manufacturing.RAMI40.LifeCycleHierarchy.LifeCycleHierarchyPackage"
            genModel="model/RAMI40.profile.genmodel"/>
   </extension>
   -->
</plugin>
