Class{
	bold: true;
	fillColor: white;
	elementIcon: false;
}

Property, Operation, Reception{
	elementIcon: false;
}

Activity{
	elementIcon:false;
	bold: true;
	fillColor: white;
}

AddStructuralFeatureValueAction, ReadStructuralFeatureValueAction, CallBehaviorAction, CallOperationAction, ReadSelfAction, ReadLinkAction, ValueSpecificationAction{
	fillColor:white;
}

StateMachine{
	bold: true;
	fillColor: white;
}

State{
	fillColor: white;
}

Region{
	fillColor: white;
}

Transition{
	routing: Rectilinear;
}

ControlFlow{
	lineColor: grey;
}

ObjectFlow{
	lineColor: black;
}

ObjectFlow > Label{
	visible: false;
}

Pseudostate > Label{
	visible: false;
}

State, ActivityNode{
	bold: true;
	fillColor: lightblue;
}

InputPin, OutputPin{
	fillColor: black;
}

ActivityParameterNode{
	bold: true;
	fillColor: orange;
}

Comment{
	fillColor: lightblue;
	gradient: none;
	fontColor: black;
	bold: true;
}

Signal{
	fillColor: red;
}

Signal > Compartment[kind="attributes"]{
	visible: false;
}

Class > Reception{
	bold: true;
	fontColor: red;
}

Pseudostate{
	fillColor:green; 
}