<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Population -->
      <package
            uri="http://www.eclipse.org/papyrus/aof-emf-samples/population"
            class="org.eclipse.papyrus.aof.emf.samples.population.PopulationPackage"
            genModel="model/Population.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Test -->
      <package
            uri="http://www.eclipse.org/papyrus/aof-emf-samples/tests"
            class="org.eclipse.papyrus.aof.emf.samples.tests.TestsPackage"
            genModel="model/Test.genmodel"/>
   </extension>

</plugin>
