<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Rhapsody -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.migration.rhapsody.rhapsodymetamodel.presentation.UMLRhapsodyModelWizardID"
            name="%_UI_UMLRhapsodyModelWizard_label"
            class="org.eclipse.papyrus.migration.rhapsody.rhapsodymetamodel.presentation.UMLRhapsodyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UMLRhapsodyModelFile.gif">
         <description>%_UI_UMLRhapsodyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Rhapsody -->
      <editor
            id="org.eclipse.papyrus.migration.rhapsody.rhapsodymetamodel.presentation.UMLRhapsodyEditorID"
            name="%_UI_UMLRhapsodyEditor_label"
            icon="icons/full/obj16/UMLRhapsodyModelFile.gif"
            extensions="umlrhapsody"
            class="org.eclipse.papyrus.migration.rhapsody.rhapsodymetamodel.presentation.UMLRhapsodyEditor"
            contributorClass="org.eclipse.papyrus.migration.rhapsody.rhapsodymetamodel.presentation.UMLRhapsodyActionBarContributor">
      </editor>
   </extension>
</plugin>
