<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.eclipse.papyrus.migration.rhapsody.sysml.import"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="umlrhapsody">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="rpy">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.migration.rhapsody.handlers.ImportRhapsodyHandler"
            id="org.eclipse.papyrus.migration.rhapsody.sysml.import"
            name="Import SysML Rhapsody Model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.papyrus.infra.core.importcategory"
            class="org.eclipse.papyrus.migration.rhapsody.wizard.TransformationRhapsodyWizard"
            icon="platform:/plugin/org.eclipse.papyrus.migration.common/icons/import_wiz_16x16.gif"
            id="org.eclipse.papyrus.migration.rhapsody.transformationWizard"
            name="Rhapsody SysML Models">
         <description>
            Select and transform .rpy files through the wizard window.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformation">
      <library
            file="transform/RhapsodyToPapyrusDiagamCommon.qvto"
            id="RhapsodyToPapyrusDiagamCommon">
      </library>
      <library
            file="transform/RhapsodyToPapyrusUtils.qvto"
            id="RhapsodyToPapyrusUtils">
      </library>
      <library
            file="transform/RhapsodyUtils.qvto"
            id="RhapsodyUtils">
      </library>
      <library
            file="transform/SysMLRhapsodyUtils.qvto"
            id="SysMLRhapsodyUtils">
      </library>
   </extension>
   <extension
         point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformation">
      <transformation
            file="transform/Rhapsody2PapyrusNotation.qvto"
            id="Rhapsody2PapyrusNotation">
      </transformation>
      <transformation
            file="transform/Rhapsody2PapyrusSemanticElements.qvto"
            id="Rhapsody2PapyrusSemanticElements">
      </transformation>
      <transformation
            file="transform/SysML11BlockDefinitionDiagram.qvto"
            id="SysML11BlockDefinitionDiagram">
      </transformation>
      <transformation
            file="transform/SysML11Diagrams.qvto"
            id="SysML11Diagrams">
      </transformation>
      <transformation
            file="transform/SysML11InternalBlockDiagram.qvto"
            id="SysML11InternalBlockDiagram">
      </transformation>
      <transformation
            file="transform/SysML11ParametricDiagram.qvto"
            id="SysML11ParametricDiagram">
      </transformation>
      <transformation
            file="transform/SysML11Profile.qvto"
            id="SysML11Profile">
      </transformation>
      <transformation
            file="transform/SemanticInternationalization.qvto"
            id="SemanticInternationalizationInternationalization">
      </transformation>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="org.eclipse.papyrus.migration.rhapsody.preferences.ImportRhapsodyPreferencesPage"
            id="org.eclipse.papyrus.migration.rhapsody.page1"
            name="Rhapsody Importer">
      </page>
   </extension>
</plugin>
