<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.newchild">
      <menuCreationModel
            model="model/TestMenu.xmi">
      </menuCreationModel>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.extendedtypes.extendedElementTypeSet">
      <extendedTypesSet
            id="org.eclipse.papyrus.infra.extendedtypes.tests.tests"
            name="Tests Element Types for ExtendedType plugin"
            path="model/Test.extendedtypes">
      </extendedTypesSet>
   </extension>
</plugin>
