<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <diagramCategory
            class="org.eclipse.papyrus.bmm.diagram.common.commands.CreateBmmModelCommand"
            description="Papyrus BMM diagrams"
            icon="platform:/plugin/org.eclipse.papyrus.bmm.diagram.common/icons/bmm_32x32.png"
            id="BMM"
            label="BMM">
      </diagramCategory>
   </extension>

</plugin>
