Artifact > Compartment {
    visible: false; 
}

Artifact > Compartment[kind=symbol]{
    visible: true;
}

Artifact {
	followSVGSymbol:true;
	transparency:100;
	displayName:false;
	displayLabel:true;
	displayTag:false;
	bold:true;
}

Artifact> Label[kind="FloatingLabel"] {
	displayName:true;
	visible:true;
	textAlignment:center;
	isFloatingLabelConstrained:true;
}

Dependency {
	/*routing:tree;*/
	routing:Rectilinear;
	roundedBendpointsRadius:20;
	/*avoidObstructions:true;*/
	displayStereotypes:true;
	displayName:false;
}

[appliedStereotypes~="Bmm::Objective"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/Objective.svg";
}
[appliedStereotypes~="Bmm::Goal"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/Goal.svg";
}
[appliedStereotypes~="Bmm::Mission"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/Mission.svg";
}
[appliedStereotypes~="Bmm::Vision"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/Vision.svg";
}
[appliedStereotypes~="Bmm::Tactic"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/Tactic.svg";
}
[appliedStereotypes~="Bmm::Strategy"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/Strategy.svg";
}
[appliedStereotypes~="Bmm::BusinessPolicy"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/BusinessPolicy.svg";
}
[appliedStereotypes~="Bmm::BusinessRule"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/BusinessRule.svg";
}
[appliedStereotypes~="Bmm::InternalInfluencer"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/InternalInfluencer.svg";
}
[appliedStereotypes~="Bmm::ExternalInfluencer"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/ExternalInfluencer.svg";
}
[appliedStereotypes~="Bmm::Assessment"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/Assessment.svg";
}
[appliedStereotypes~="Bmm::Risk"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/Risk.svg";
}
[appliedStereotypes~="Bmm::PotentialReward"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/PotentialReward.svg";
}
[appliedStereotypes~="Bmm::OrganizationUnit"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/OrganizationUnit.svg";
}
[appliedStereotypes~="Bmm::Asset"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/Asset.svg";
}
[appliedStereotypes~="Bmm::BusinessProcess"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/BusinessProcess.svg";
}
[appliedStereotypes~="Bmm::OrganizationCategory"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}
[appliedStereotypes~="Bmm::InfluencingOrganization"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}
[appliedStereotypes~="Bmm::InfluencerCategory"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}
[appliedStereotypes~="Bmm::AssessmentCategory"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}
[appliedStereotypes~="Bmm::DesiredResult"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}
[appliedStereotypes~="Bmm::DesiredResultCategory"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}
[appliedStereotypes~="Bmm::Directive"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}
[appliedStereotypes~="Bmm::FixedAsset"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}
[appliedStereotypes~="Bmm::Influencer"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}
[appliedStereotypes~="Bmm::Liability"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}
[appliedStereotypes~="Bmm::Offering"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}
[appliedStereotypes~="Bmm::Regulation"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}
[appliedStereotypes~="Bmm::Resource"]{	
	svgFile: "platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/shapes/DefaultShape.svg";
}