<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.eclipse.papyrus.wizards.category"
            class="org.eclipse.papyrus.req.bmm.diagram.ui.NewBmmModelWizard"
            finalPerspective="org.eclipse.papyrus.infra.core.perspective"
            icon="platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/icons/bmm_32x32.png"
            id="org.eclipse.papyrus.wizards.createbmmmodel"
            name="%wizard.name">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.eclipse.papyrus.wizards.category"
            class="org.eclipse.papyrus.req.bmm.diagram.ui.NewBmmProjectWizard"
            finalPerspective="org.eclipse.papyrus.infra.core.perspective"
            icon="platform:/plugin/org.eclipse.papyrus.req.bmm.diagram.common/icons/bmm_32x32.png"
            id="org.eclipse.papyrus.wizards.createbmmwizard"
            name="%wizard.name.0"
            project="true">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
  <!-- 
   <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <template
            file="org.eclipse.papyrus.req.bmm.diagram.ui.template1"
            id="org.eclipse.papyrus.req.bmm.diagram.ui.template1"
            language="org.eclipse.papyrus.req.bmm.diagram.ui.template1"
            name="Empty Process BMM Model">
      </template>
   </extension>
   -->
</plugin>
