<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension id="dsml.validation.generated.umlrealtimestatemach" name="dsml.validation.generated.umlrealtime.providers" point="org.eclipse.emf.validation.constraintProviders">
      <category id="org.eclipse.papyrus.umlrt.validation.umlrealtimestatemach" mandatory="false" name="org.eclipse.papyrus.umlrt.validation.umlrealtimestatemach"/>
      <constraintProvider cache="false" mode="Batch">
         <package namespaceUri="http://www.eclipse.org/papyrus/umlrt/statemachine"/>
         <constraints categories="org.eclipse.papyrus.umlrt.validation.umlrealtimestatemach">
            <constraint id="hasExactlyOneRegion" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="An RT state machine has exactly one region" severity="ERROR" statusCode="1">
               <message>An RT state machine has exactly one region</message><![CDATA[base_StateMachine.region->size() = 1]]></constraint>
            <constraint id="isNeverReentrant" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="An RT state machine is never re-entrant" severity="ERROR" statusCode="1">
               <message>An RT state machine is never re-entrant</message><![CDATA[not base_StateMachine.isReentrant]]></constraint>
            <constraint id="noParameters" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="RT state machines do not have parameters or parameter sets" severity="ERROR" statusCode="1">
               <message>RT state machines do not have parameters or parameter sets</message><![CDATA[(base_StateMachine.ownedParameter->size()=0) and 
(base_StateMachine.ownedParameterSet->size() = 0)]]></constraint>
            <constraint id="contextMustBeClass" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="RT state machines must have a context and it must be a Class" severity="ERROR" statusCode="1">
               <message>RT state machines must have a context and it must be a Class</message><![CDATA[(base_StateMachine.context->size()=1) 
and (base_StateMachine.context.oclIsKindOf(Class))]]></constraint>
            <constraint id="onlyPassiveData" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="Passive state machine are only allowed on passive data classes" severity="ERROR" statusCode="1">
               <message>Passive state machine are only allowed on passive data classes</message><![CDATA[isPassive = not (base_StateMachine.context.oclAsType(Class).isActive) ]]></constraint>
            <constraint id="passiveNotReentrant" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="Passive state machines must not be reentrant" severity="ERROR" statusCode="1">
               <message>Passive state machines must not be reentrant</message><![CDATA[isPassive implies not (base_StateMachine.isReentrant)]]></constraint>
            <constraint id="onlyOneRegion" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="A composte RT state has exactly one region" severity="ERROR" statusCode="1">
               <message>A composte RT state has exactly one region</message><![CDATA[base_State.isComposite implies 
           (base_State.region->size() = 1)]]></constraint>
            <constraint id="noSubmachineState" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="RT does not support submachine states" severity="ERROR" statusCode="1">
               <message>RT does not support submachine states</message><![CDATA[not base_State.isSubmachineState]]></constraint>
            <constraint id="noDoActivity" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="RT state machines do not support &quot;do&quot; activities" severity="ERROR" statusCode="1">
               <message>RT state machines do not support "do" activities</message><![CDATA[base_State.doActivity->size() = 0]]></constraint>
            <constraint id="noDeferredTriggers" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="RT state machines cannot have any deferred triggers " severity="ERROR" statusCode="1">
               <message>RT state machines cannot have any deferred triggers </message><![CDATA[base_State.deferrableTrigger->size() = 0]]></constraint>
            <constraint id="noConcurrencyHistory" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="RT state machines do not support concurrency or shallow history" severity="ERROR" statusCode="1">
               <message>RT state machines do not support concurrency or shallow history</message><![CDATA[let knd = base_Pseudostate.kind in 
   (knd <> UML::PseudostateKind::shallowHistory) and
   (knd <> UML::PseudostateKind::fork) and
   (knd <> UML::PseudostateKind::join)]]></constraint>
         </constraints>
      </constraintProvider>
   </extension>
  <extension name="dsml.validation.generated.umlrealtimestatemach" point="org.eclipse.emf.validation.constraintProviders">
      <category id="org.eclipse.papyrus.umlrt.validation.umlrealtimestatemach" mandatory="false" name="org.eclipse.papyrus.umlrt.validation.umlrealtimestatemach"/>
      <constraintProvider cache="false" mode="Batch">
         <package namespaceUri="http://www.eclipse.org/papyrus/umlrt/statemachine"/>
         <constraints categories="org.eclipse.papyrus.umlrt.validation.umlrealtimestatemach">
            <constraint id="hasExactlyOneRegion" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="An RT state machine has exactly one region" severity="ERROR" statusCode="1">
               <message>An RT state machine has exactly one region</message><![CDATA[base_StateMachine.region->size() = 1]]></constraint>
            <constraint id="isNeverReentrant" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="An RT state machine is never re-entrant" severity="ERROR" statusCode="1">
               <message>An RT state machine is never re-entrant</message><![CDATA[not base_StateMachine.isReentrant]]></constraint>
            <constraint id="noParameters" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="RT state machines do not have parameters or parameter sets" severity="ERROR" statusCode="1">
               <message>RT state machines do not have parameters or parameter sets</message><![CDATA[(base_StateMachine.ownedParameter->size()=0) and 

(base_StateMachine.ownedParameterSet->size() = 0)]]></constraint>
            <constraint id="contextMustBeClass" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="RT state machines must have a context and it must be a Class" severity="ERROR" statusCode="1">
               <message>RT state machines must have a context and it must be a Class</message><![CDATA[(base_StateMachine.context->size()=1) 

and (base_StateMachine.context.oclIsKindOf(Class))]]></constraint>
            <constraint id="onlyPassiveData" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="Passive state machine are only allowed on passive data classes" severity="ERROR" statusCode="1">
               <message>Passive state machine are only allowed on passive data classes</message><![CDATA[isPassive = not (base_StateMachine.context.oclAsType(Class).isActive) ]]></constraint>
            <constraint id="passiveNotReentrant" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="Passive state machines must not be reentrant" severity="ERROR" statusCode="1">
               <message>Passive state machines must not be reentrant</message><![CDATA[isPassive implies not (base_StateMachine.isReentrant)]]></constraint>
            <constraint id="onlyOneRegion" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="A composte RT state has exactly one region" severity="ERROR" statusCode="1">
               <message>A composte RT state has exactly one region</message><![CDATA[base_State.isComposite implies 

           (base_State.region->size() = 1)]]></constraint>
            <constraint id="noSubmachineState" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="RT does not support submachine states" severity="ERROR" statusCode="1">
               <message>RT does not support submachine states</message><![CDATA[not base_State.isSubmachineState]]></constraint>
            <constraint id="noDoActivity" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="RT state machines do not support &quot;do&quot; activities" severity="ERROR" statusCode="1">
               <message>RT state machines do not support "do" activities</message><![CDATA[base_State.doActivity->size() = 0]]></constraint>
            <constraint id="noDeferredTriggers" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="RT state machines cannot have any deferred triggers " severity="ERROR" statusCode="1">
               <message>RT state machines cannot have any deferred triggers </message><![CDATA[base_State.deferrableTrigger->size() = 0]]></constraint>
            <constraint id="noConcurrencyHistory" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="RT state machines do not support concurrency or shallow history" severity="ERROR" statusCode="1">
               <message>RT state machines do not support concurrency or shallow history</message><![CDATA[let knd = base_Pseudostate.kind in 

   (knd <> UML::PseudostateKind::shallowHistory) and

   (knd <> UML::PseudostateKind::fork) and

   (knd <> UML::PseudostateKind::join)]]></constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension id="dsml.validation.generated.umlrealtimestatemach" name="dsml.validation.generated.umlrealtime" point="org.eclipse.emf.validation.constraintBindings">
      <clientContext id="RTPseudostateClientContext">
         <selector class="org.eclipse.papyrus.umlrt.validation.selectors.RTPseudostateClientSelector"/>
      </clientContext>
      <binding context="RTPseudostateClientContext">
         <constraint ref="org.eclipse.papyrus.umlrt.validation.noConcurrencyHistory"/>
      </binding>
      <clientContext id="RTStateClientContext">
         <selector class="org.eclipse.papyrus.umlrt.validation.selectors.RTStateClientSelector"/>
      </clientContext>
      <binding context="RTStateClientContext">
         <constraint ref="org.eclipse.papyrus.umlrt.validation.onlyOneRegion"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.noSubmachineState"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.noDoActivity"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.noDeferredTriggers"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.UMLRealTimeStateMach.RTState.Constraint5"/>
      </binding>
      <clientContext id="RTStateMachineClientContext">
         <selector class="org.eclipse.papyrus.umlrt.validation.selectors.RTStateMachineClientSelector"/>
      </clientContext>
      <binding context="RTStateMachineClientContext">
         <constraint ref="org.eclipse.papyrus.umlrt.validation.hasExactlyOneRegion"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.isNeverReentrant"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.noParameters"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.contextMustBeClass"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.onlyPassiveData"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.passiveNotReentrant"/>
      </binding>
   </extension>
<extension name="dsml.validation.generated.umlrealtimestatemach" point="org.eclipse.emf.validation.constraintBindings">
      <clientContext id="RTStateClientContext">
         <selector class="org.eclipse.papyrus.umlrt.validation.selectors.RTStateClientSelector"/>
      </clientContext>
      <binding context="RTStateClientContext">
         <constraint ref="org.eclipse.papyrus.umlrt.validation.onlyOneRegion"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.noSubmachineState"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.noDoActivity"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.noDeferredTriggers"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.UMLRealTimeStateMach.RTState.Constraint5"/>
      </binding>
      <clientContext id="RTStateMachineClientContext">
         <selector class="org.eclipse.papyrus.umlrt.validation.selectors.RTStateMachineClientSelector"/>
      </clientContext>
      <binding context="RTStateMachineClientContext">
         <constraint ref="org.eclipse.papyrus.umlrt.validation.hasExactlyOneRegion"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.isNeverReentrant"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.noParameters"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.contextMustBeClass"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.onlyPassiveData"/>
         <constraint ref="org.eclipse.papyrus.umlrt.validation.passiveNotReentrant"/>
      </binding>
      <clientContext id="RTPseudostateClientContext">
         <selector class="org.eclipse.papyrus.umlrt.validation.selectors.RTPseudostateClientSelector"/>
      </clientContext>
      <binding context="RTPseudostateClientContext">
         <constraint ref="org.eclipse.papyrus.umlrt.validation.noConcurrencyHistory"/>
      </binding>
   </extension>
</plugin>
