<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2015 Christian W. Damus and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   Christian W. Damus - Initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test-exceptions -->
      <package
            uri="http://www.eclipse.org/papyrus/2015/testframework/exceptions"
            class="org.eclipse.papyrus.tests.framework.exceptions.ExceptionsPackage"
            genModel="model/test-exceptions.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated test-exceptions -->
      <parser
            type="testexceptions"
            class="org.eclipse.papyrus.tests.framework.exceptions.util.ExceptionsResourceFactoryImpl"/>
   </extension>

</plugin>
