[appliedStereotypes~="ADL4Eclipse::FeatureReference"] > Label,
[appliedStereotypes~="ADL4Eclipse::ExtensionPointReference"] > Label,
[appliedStereotypes~="OSGI::ModuleLayer::BundleReference"] > Label,
[appliedStereotypes~="OSGI::ModuleLayer::PackageReference"] > Label {
    visible: false;
}

[appliedStereotypes~="ADL4Eclipse::Plugin"] > Port,
[appliedStereotypes~="OSGI::ModuleLayer::Bundle"] > Port {
	maskLabel: false;
	fillColor: #E05858;
	/* TODO: Plug-ins that contribute to an extension point should have a port of color #EC96A4 */
}

[appliedStereotypes~="ADL4Eclipse::Plugin"] {
	fillColor: #6EB5C0;
}

[appliedStereotypes~="OSGI::ModuleLayer::Bundle"] {
	fillColor: #E5E2CA;
}

[appliedStereotypes~="OSGI::ModuleLayer::ExportedPackage"],
[appliedStereotypes~="OSGI::ModuleLayer::ImportedPackage"] {
	fillColor: #B45F04;
}
