<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Papyrus Extra Tests" sequenceNumber="1461855055">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.b3.aggregator.editor.source.feature.feature.group" version="0.3.0.v20140928-0617"/>
      <unit id="org.eclipse.b3.aggregator.editor.feature.feature.group" version="0.3.0.v20140928-0617"/>
      <unit id="org.eclipse.b3.aggregator.engine.source.feature.feature.group" version="0.3.0.v20140928-0617"/>
      <repository id="b3" location="http://download.eclipse.org/modeling/emft/b3/updates-4.4"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.oomph.version.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.setup.workingsets.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.projectconfig.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.setup.targlets.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.setup.mylyn.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.setup.workbench.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.setup.projectset.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.setup.pde.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.targlets.feature.group" version="1.4.0.v20160324-0836"/>
      <unit id="org.eclipse.oomph.setup.jdt.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.setup.projects.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.setup.git.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.setup.maven.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.p2.feature.group" version="1.4.0.v20160323-1057"/>
      <unit id="org.eclipse.oomph.setup.feature.group" version="1.4.0.v20160324-0842"/>
      <unit id="org.eclipse.oomph.preferences.feature.group" version="1.4.0.v20160323-1057"/>
      <repository id="oomph" location="http://download.eclipse.org/oomph/drops/milestone/S20160324-055722-1.4.0-M6a"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="fr.obeo.releng.targetplatform-feature.feature.group" version="2.1.1.201410251450"/>
      <repository id="tpd" location="http://mbarbero.github.io/fr.obeo.releng.targetplatform/p2/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository id="egit" location="http://download.eclipse.org/egit/updates-4.3"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository id="m2e" location="http://download.eclipse.org/technology/m2e/milestones/1.7/1.7.0.20160321-2203"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository id="orbit" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150821153341/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.6.0.v20160321-0408"/>
      <repository id="qvto" location="http://download.eclipse.org/mmt/qvto/updates/milestones/3.6.0/S201603210408"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.10.0.201512152038"/>
      <repository id="emfTransaction" location="http://download.eclipse.org/modeling/emf/transaction/updates/milestones"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xpand.sdk.feature.group" version="2.2.0.v201603220642"/>
      <unit id="org.eclipse.xtend.feature.group" version="2.2.0.v201603220642"/>
      <repository id="xpand" location="http://download.eclipse.org/modeling/m2t/xpand/updates/milestones/S201603220642/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.tablecombo.feature.feature.group" version="1.0.0.201501260813"/>
      <repository id="nebula" location="http://download.eclipse.org/technology/nebula/archives/Q12015/release/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.2.0.v20160321-0821"/>
      <repository id="uml" location="http://download.eclipse.org/modeling/mdt/uml2/updates/5.2milestones"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.10.0.201512160041"/>
      <repository id="gmfRuntime" location="http://download.eclipse.org/modeling/gmp/gmf-runtime/updates/milestones"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.6.0.v20160317-0200"/>
      <repository id="platform" location="http://download.eclipse.org/eclipse/updates/4.6milestones/S-4.6M6-201603170200/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.examples.classic.feature.group" version="5.2.0.v20160224-1849"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="6.1.0.v20160321-2145"/>
      <repository id="ocl" location="http://download.eclipse.org/modeling/mdt/ocl/updates/milestones/6.1.0/S201603211840"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xwt.feature.feature.group" version="1.1.0.v20150608-1518"/>
      <repository id="xwt" location="http://download.eclipse.org/xwt/release-1.1.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.10.0.v201603220719"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.10.0.v201603220719"/>
      <unit id="org.eclipse.xtext.redist.feature.group" version="2.10.0.v201603220719"/>
      <repository id="xtext" location="http://download.eclipse.org/modeling/tmf/xtext/updates/milestones/head/S201603220719/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.4.0.201604171601"/>
      <unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="1.4.0.201604171601"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="1.4.0.201604171601"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="1.4.0.201604171601"/>
      <repository id="nattable" location="http://download.eclipse.org/nattable/snapshots/507/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.9.0.v201603221017"/>
      <repository id="mwe" location="http://download.eclipse.org/modeling/emft/mwe/updates/milestones/S201603221009/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.query.sdk.feature.group" version="1.10.0.201512142117"/>
      <repository id="emfQuery" location="http://download.eclipse.org/modeling/emf/query/updates/milestones"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.wst.xml_sdk.feature.feature.group" version="3.8.0.v201603171933"/>
      <unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.8.0.v201603171933"/>
      <repository id="webtools" location="http://download.eclipse.org/webtools/downloads/drops/R3.8.0/S-3.8.0M6-20160324010110/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.10.0.201512142118"/>
      <repository id="emfValidation" location="http://download.eclipse.org/modeling/emf/validation/updates/milestones"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.team.svn.feature.group" version="4.0.0.I20160427-1700"/>
      <repository id="subversive" location="http://download.eclipse.org/technology/subversive/4.0/neon-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.10.0.201512142135"/>
      <repository id="gmfNotation" location="http://download.eclipse.org/modeling/gmp/gmf-notation/updates/milestones"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160321-0508"/>
      <repository id="emf" location="http://download.eclipse.org/modeling/emf/emf/updates/2.12milestones/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.tooling.feature.group" version="3.3.0.201506090515"/>
      <unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="3.3.0.201506090515"/>
      <unit id="org.eclipse.gmf.tooling.codegen.xtend2.feature.group" version="3.3.0.201506090515"/>
      <repository id="gmfTooling" location="http://download.eclipse.org/modeling/gmp/gmf-tooling/updates/milestones-3.3/S201506090500"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository id="mylyn" location="http://download.eclipse.org/mylyn/drops/3.19.0/v20160331-2042"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.epp.logging.aeri.feature.feature.group" version="1.100.0.v20160330-0740"/>
      <repository id="aeri" location="http://download.eclipse.org/technology/epp/logging/milestones/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.diagram.gmf.source.feature.group" version="3.2.0.201603200413"/>
      <unit id="org.eclipse.emf.compare.source.feature.group" version="3.2.0.201603200413"/>
      <unit id="org.eclipse.emf.compare.uml2.source.feature.group" version="3.2.0.201603200413"/>
      <repository id="emfCompare" location="http://download.eclipse.org/modeling/emf/compare/updates/milestones/3.2/S201603200413"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.net4j.feature.group" version="4.5.0.v20151216-1631"/>
      <unit id="org.eclipse.emf.cdo.server.feature.group" version="4.5.0.v20151208-0751"/>
      <unit id="org.eclipse.emf.cdo.dawn.feature.group" version="2.1.300.v20150911-0923"/>
      <unit id="org.eclipse.emf.cdo.feature.group" version="4.5.0.v20151123-0826"/>
      <unit id="org.eclipse.emf.cdo.server.db.feature.group" version="4.4.0.v20151012-0603"/>
      <repository id="cdo" location="http://download.eclipse.org/modeling/emf/cdo/drops/S20151216-1133"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.runtime.source.feature.group" version="3.6.4.201603211409"/>
      <unit id="org.eclipse.acceleo.source.feature.group" version="3.6.4.201603211409"/>
      <unit id="org.eclipse.acceleo.query.source.feature.group" version="5.0.0.201603211409"/>
      <unit id="org.eclipse.acceleo.sdk.feature.group" version="3.6.4.201603211409"/>
      <repository id="acceleo" location="http://download.eclipse.org/acceleo/updates/milestones/3.6/S201603211409"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.upr.utp.feature.feature.group" version="0.9.0.20141027-1408-incubation"/>
      <repository id="upr" location="http://download.eclipse.org/upr/0.9RC1/update/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.rmf.reqif10.sdk.feature.feature.group" version="0.13.0.201509161042"/>
      <unit id="org.eclipse.rmf.reqif10.pror.sdk.feature.feature.group" version="0.13.0.201509161042"/>
      <repository id="rmf" location="http://download.eclipse.org/rmf/updates/releases"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="1.5.1.201601141612"/>
      <repository id="eef" location="http://download.eclipse.org/modeling/emft/eef/updates/releases/1.5/R201601141612/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.zest.layouts" version="1.1.300.201603210204"/>
      <unit id="org.eclipse.gef.feature.group" version="3.11.0.201603210204"/>
      <repository id="gef" location="http://download.eclipse.org/tools/gef/updates/milestones/4.0.0M6_gef-master_1868"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository id="graphiti" location="http://download.eclipse.org/graphiti/updates/milestones/S-0.13.0M6-201603231003/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository id="sphinx" location="http://download.eclipse.org/sphinx/previews"/>
    </location>
  </locations>
</target>
