<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
	<extension-point id="traceMechanism" name="traceMechanism" schema="schema/traceMechanism.exsd"/>
	
	<extension
		id="org.eclipse.papyrus.tporbpmarker"
		name="tracepoint or breakpoint marker"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.eclipse.papyrus.modelmarker">
		</super>
		<attribute
			name="isActive">
		</attribute>
		<attribute
			name="isTracepoint">
		</attribute>
		<persistent
			value="true">
		</persistent>
	</extension>
	
	<extension
		id="org.eclipse.papyrus.tpmarker"
		name="tracepoint marker"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.eclipse.papyrus.tporbpmarker">
		</super>
		<attribute
			name="traceAction">
		</attribute>
		<attribute
			name="traceMechanism">
		</attribute>
		<persistent
           value="true">
		</persistent>
	</extension>
	
</plugin>
