<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.aof.sync.examples.uml.ui.internal.handlers.SynchronizeCapsulesHandler"
            id="org.eclipse.papyrus.umlrt.aof.ui.synchCapsules"
            name="%syncCapsules.command">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.aof.sync.examples.uml.ui.internal.handlers.SynchronizeNodesHandler"
            id="org.eclipse.papyrus.umlrt.aof.ui.synchNodes"
            name="%syncViews.command">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.aof.sync.examples.uml.ui.internal.handlers.SynchronizeDiagramsHandler"
            id="org.eclipse.papyrus.umlrt.aof.ui.synchDiagrams"
            name="%syncDiagrams.command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.papyrus.umlrt.aof.ui.synchCapsules"
               label="%syncCapsules.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="2">
                  </count>
                  <iterate
                        operator="and">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Class">
                        </instanceof>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.umlrt.aof.ui.synchNodes"
               label="%syncViews.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="and"
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.gef.NodeEditPart">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.umlrt.aof.ui.synchDiagrams"
               label="%syncDiagrams.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="and"
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
