<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.aof.sync.examples.uml.ui.internal.handlers.SynchronizeDiagramsHandler"
            id="org.eclipse.papyrus.umlrt.aof.ui.synchDiagrams"
            name="%syncDiagrams.command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.papyrus.umlrt.aof.ui.synchDiagrams"
               label="%syncDiagrams.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="2">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.gmf.runtime.notation.Diagram">
                        </instanceof>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.papyrus.sync.syncDelegates">
      <syncDelegate
            class="org.eclipse.papyrus.aof.sync.examples.uml.ui.internal.DiagramSyncDelegate"
            priority="75">
      </syncDelegate>
   </extension>

</plugin>
