<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.papyrus.adltool.assistant.Activator"></startup>
   </extension>
     <extension
           point="org.eclipse.ui.importWizards">
        <category
              id="org.eclipse.papyrus.editor.category"
              name="Papyrus">
        </category>
        <wizard
              category="org.eclipse.papyrus.editor.category"
              class="org.eclipse.papyrus.adl4eclipsetool.assistant.SimplePluginImport"
              icon="img/adl.png"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.simplePluginsWizard"
              name="Workspace plug-ins architecture snapshot">
        </wizard>
        <wizard
              category="org.eclipse.papyrus.editor.category"
              class="org.eclipse.papyrus.adl4eclipsetool.assistant.AdvancePluginImport"
              icon="img/adl.png"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.advancedPluginsWizard"
              name="Platform plug-ins architecture snapshot (advanced)">
        </wizard>
        <wizard
              category="org.eclipse.papyrus.editor.category"
              class="org.eclipse.papyrus.adl4eclipsetool.assistant.SimpleFeatureImport"
              icon="img/adl.png"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.simpleFeaturesWizard"
              name="Workspace features architecture snapshot">
        </wizard>
        <wizard
              category="org.eclipse.papyrus.editor.category"
              class="org.eclipse.papyrus.adl4eclipsetool.assistant.AdvanceFeatureImport"
              icon="img/adl.png"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.advancedFeaturesWizard"
              name="Platform features architecture snapshot (advanced)">
        </wizard>
        <wizard
              category="org.eclipse.papyrus.editor.category"
              class="org.eclipse.papyrus.adl4eclipsetool.assistant.CompleteImport"
              icon="img/adl.png"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.completeWizard"
              name="Complete platform architecture snapshot">
        </wizard>
     </extension>
     <extension
           point="org.eclipse.papyrus.uml.diagram.wizards.templates">
        <template
              di_file="resources/model.di"
              file="resources/model.uml"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.templateWithProfiles"
              language="uml"
              name="An Architecture Model (with OSGi and ADL profiles)"
              notation_file="resources/model.notation">
        </template>
     </extension>
     <extension
           point="org.eclipse.ui.commands">
        <category
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.commands.category"
              name="ADL4Eclipse Refactoring Category">
        </category>
        <command
              categoryId="org.eclipse.papyrus.adl4eclipsetool.assistant.commands.category"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.commands.ModelRefactoringCommand"
              name="Model Refactoring Command">
        </command>
     </extension>
     <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="org.eclipse.papyrus.adl4eclipsetool.assistant.handlers.ArchitectureModelPropertyTester"
               id="org.eclipse.papyrus.adl4eclipsetool.assistant.menu.tester"
               namespace="org.eclipse.papyrus.adl4eclipsetool.assistant.menu.tester"
               properties="isArchitectureModel"
               type="org.eclipse.jface.viewers.IStructuredSelection">
         </propertyTester>
      </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              class="org.eclipse.papyrus.adl4eclipsetool.assistant.handlers.ModelRefactoringHandler"
              commandId="org.eclipse.papyrus.adl4eclipsetool.assistant.commands.ModelRefactoringCommand">
           <enabledWhen>
              <and>
                 <with
                       variable="selection">
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.papyrus.adl4eclipsetool.assistant.menu.tester.isArchitectureModel"
                          value="true">
                    </test>
                 </with>
              </and>
           </enabledWhen>
        </handler>
     </extension>
      <extension
         point="org.eclipse.ui.menus">
     <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.uml.modelrepair.refactor?after=additions">
         <command
               commandId="org.eclipse.papyrus.adl4eclipsetool.assistant.commands.ModelRefactoringCommand"
               icon="img/adl.png"
               id="org.eclipse.papyrus.adl4eclipsetool.assistant.menus.ModelRefactoringCommand"
               mnemonic="S">
         </command>
        </menuContribution>
     </extension>
</plugin>
