<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.papyrus.adltool.assistant.Activator"></startup>
   </extension>
     <extension
           point="org.eclipse.ui.importWizards">
        <category
              id="org.eclipse.papyrus.editor.category"
              name="Papyrus">
        </category>
        <wizard
              category="org.eclipse.papyrus.editor.category"
              class="org.eclipse.papyrus.adl4eclipsetool.assistant.SimplePluginImport"
              icon="img/adl.png"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.simplePluginsWizard"
              name="Workspace plug-ins architecture snapshot">
        </wizard>
        <wizard
              category="org.eclipse.papyrus.editor.category"
              class="org.eclipse.papyrus.adl4eclipsetool.assistant.AdvancePluginImport"
              icon="img/adl.png"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.advancedPluginsWizard"
              name="Platform plug-ins architecture snapshot (advanced)">
        </wizard>
        <wizard
              category="org.eclipse.papyrus.editor.category"
              class="org.eclipse.papyrus.adl4eclipsetool.assistant.SimpleFeatureImport"
              icon="img/adl.png"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.simpleFeaturesWizard"
              name="Workspace features architecture snapshot">
        </wizard>
        <wizard
              category="org.eclipse.papyrus.editor.category"
              class="org.eclipse.papyrus.adl4eclipsetool.assistant.AdvanceFeatureImport"
              icon="img/adl.png"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.advancedFeaturesWizard"
              name="Platform features architecture snapshot (advanced)">
        </wizard>
        <wizard
              category="org.eclipse.papyrus.editor.category"
              class="org.eclipse.papyrus.adl4eclipsetool.assistant.CompleteImport"
              icon="img/adl.png"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.completeWizard"
              name="Complete platform architecture snapshot">
        </wizard>
     </extension>
     <extension
           point="org.eclipse.papyrus.uml.diagram.wizards.templates">
        <template
              di_file="resources/model.di"
              file="resources/model.uml"
              id="org.eclipse.papyrus.adl4eclipsetool.assistant.templateWithProfiles"
              language="uml"
              name="An Architecture Model (with OSGi and ADL profiles)"
              notation_file="resources/model.notation">
        </template>
     </extension>
</plugin>
