<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2019 CEA LIST.
 
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/ 

  SPDX-License-Identifier: EPL-2.0
 
 Contributors:
   Nicolas FAUVERGUE (CEA LIST) nicolas.fauvergue@cea.fr - Initial API and implementation
 
-->

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.dev.ui.menu?after=additions">
         <command
               commandId="org.eclipse.papyrus.toolsmiths.validation.elementtypes.validateCommand"
               label="%cmd.validate.label"
               style="push"
               tooltip="%cmd.validate.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.toolsmiths.validation.elementtypes.canValidateElementTypesPlugin"
                           value="true">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.toolsmiths.validation.elementtypes.internal.handlers.ValidateElementTypesPluginHandler"
            id="org.eclipse.papyrus.toolsmiths.validation.elementtypes.validateCommand"
            name="%cmd.validate.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.toolsmiths.validation.elementtypes.internal.testers.ValidateElementTypesPluginTester"
            id="org.eclipse.papyrus.toolsmiths.validation.elementtypes.canValidateElementTypesPlugin"
            namespace="org.eclipse.papyrus.toolsmiths.validation.elementtypes"
            properties="canValidateElementTypesPlugin"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>
   <extension
         id="diagnostic"
         name="%marker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   


</plugin>
