<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.manufacturing.ofbiz.handlers.DeployProcessHandler"
            description="Deploy this process to Apache OFBiz"
            id="org.eclipse.papyrus.manufacturing.ofbiz.DeployProcess"
            name="Deploy to Apache OFBiz">
         <commandParameter
               id="org.eclipse.papyrus.infra.services.controlmode.resourceLocation"
               name="Resource Location"
               optional="true">
         </commandParameter>
      </command>
      </extension>
       <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=tools">
         <command
               commandId="org.eclipse.papyrus.manufacturing.ofbiz.DeployProcess"
               label="Deploy to Apache OFBiz"
               style="push"
               tooltip="Deploy this process to Apache OFBiz">
            
         </command>
        </menuContribution>
     </extension>
</plugin>
