<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="PluginWithExtension.contribution1">
         <menu
               label="New Submenu"
               path="additions"
               id="PluginWithExtension.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="New Action"
               class="pluginwithextension.popup.actions.NewAction"
               menubarPath="PluginWithExtension.menu1/group1"
               enablesFor="1"
               id="PluginWithExtension.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
