<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RhapsodyGeometry -->
      <package
            uri="http://www.eclipse.org/papyrus/rhpgeometry/1.0.0"
            class="org.eclipse.papyrus.migration.rhapsody.geometry.rhapsodygeometry.RhpGeometryPackage"
            genModel="model/RhapsodyGeometry.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.eclipse.papyrus.migration.rhapsody.geometry.custom.CustomRhapsodyGeometryFactory"
            uri="http://www.eclipse.org/papyrus/rhpgeometry/1.0.0">
      </factory>
   </extension>

</plugin>
